<ion-content>
    <ion-item>
        <p>Register</p>
    </ion-item>
    <form>
        <div class="section-form">

            <a routerLink="/companydetails">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
            <p>Company Physical Address</p>
        </div>

        <ion-item>
            <ion-input type="text" placeholder="Street Name & Number">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="text" placeholder="Suburb ">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="number" placeholder="City ">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-input placeholder="Povince ">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-input placeholder="Postal Code">

            </ion-input>
        </ion-item>

        <p>
            <ion-checkbox color="primary"> </ion-checkbox>
            Personal and Company address is identical
        </p>

        <ion-button color="light ">
            <a href="/bankingdetails"> NEXT</a>
        </ion-button>
    </form>
</ion-content>