<ion-content>
    <ion-item>
        <p>Register</p>
    </ion-item>
    <form>
        <div class="section-form">

            <a routerLink="/landingpage">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
            <p>Personal Details</p>
        </div>

        <ion-item class="item">
            <ion-input type="text " placeholder="NAME ">
            </ion-input>
        </ion-item>

        <ion-item class="item">
            <ion-input type="text " placeholder="SURNAME ">
            </ion-input>
        </ion-item>

        <ion-item class="item">
            <ion-input type="number " placeholder="ID NUMBER ">
            </ion-input>
        </ion-item>

        <ion-item class="item">
            <ion-input placeholder="EMAIL ADDRESS ">
            </ion-input>
        </ion-item>

        <ion-button color="light ">
            <a href="/physicaladdress "> NEXT</a>
        </ion-button>
    </form>
</ion-content>