<ion-header>
    <ion-toolbar class="header-cont">
        <p>Register</p>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form>
        <div class="section-form">

            <a routerLink="/landingpage">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
            <p>Personal Details</p>
        </div>

        <ion-card class="item">
            <ion-input type="text " placeholder="NAME ">
            </ion-input>
        </ion-card>

        <ion-card class="item">
            <ion-input type="text " placeholder="SURNAME ">
            </ion-input>
        </ion-card>

        <ion-card class="item">
            <ion-input type="number " placeholder="ID NUMBER ">
            </ion-input>
        </ion-card>

        <ion-card class="item">
            <ion-input placeholder="EMAIL ADDRESS ">
            </ion-input>
        </ion-card>

        <ion-button color="light ">
            <a href="/physicaladdress "> NEXT</a>
        </ion-button>
    </form>
</ion-content>

<ion-footer>
    <ion-toolbar class="ftr">
        <p>Saved 20 seconds ago</p>
    </ion-toolbar>
</ion-footer>