<ion-header>
    <ion-toolbar class="header-cont">
        <div class="cont ">
            <a routerLink="/addproducts">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
            <p>Add Products</p>
            <img src="../../assets/images/logo.png ">
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="prod-field">

        <!--  <div class="price-field">
                <p class="price">R319.99 </p>
        </div>

        <div class="prod-field">
                <p class="price">234 Crates</p>
        </div>-->

        <div class="prod">
            <p class="image-prod"> This is where your product appear</p>
        </div>
    </div>



    <!--<ion-card class="prod-details">
        <ion-input type="text" placeholder="Crate, Units or Tonnes"></ion-input>
    </ion-card>-->

    <ion-card class="prod-descrip">
        <p>This is where description will appear</p>
    </ion-card>

    <ion-item><a routerLink="/addproducts">EDIT</a></ion-item>

    <ion-button color="light ">
        <a routerLink="/productspage">CLOSE</a>
    </ion-button>

</ion-content>

<ion-footer>
    <ion-toolbar class="ftr">
        <div class="image-ftr">
            <div class="image">
                <a routerLink="#"> <img src="../../assets/images/Group 114.png"> </a>
            </div>
            <div class="image">
                <a routerLink="/clientprofile"> <img src="../../assets/images/Group 113@2x.png"> </a>
            </div>
            <div class="image">
                <a routerLink="#"> <img src="../../assets/images/Group 112@2x.png"> </a>
            </div>
            <div class="image">
                <a routerLink="#"> <img src="../../assets/images/Group 111@2x.png"> </a>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>