ion-content {
    --ion-background-color: #EFF9F3;
}

.container {
    background-color: rgb(255, 255, 255);
    height: 600px;
    padding: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom: 1px solid grey;
}

.section-form {
    display: flex;
    margin-bottom: 100px;
}

.section-form a {
    padding-left: -6px;
    margin-left: -20px;
    margin-top: -20px;
}

.section-form .img-profile {
    background-color: chartreuse;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
}

p.msg {
    text-align: center;
    color: #797979;
}

.field-input {
    margin: auto;
    --background-color: white;
    display: flex;
    /*justify-content: center;
                    */
}

.field-input ion-item {
    --ion-background-color: rgb(255, 255, 255);
    margin: 9px;
    padding: 0;
    border: 2px solid red;
    border-radius: 15px;
    width: 62px;
    height: 64px;
    box-shadow: 5px 5px 0px 5px rgba(233, 233, 233, 0.8) inset;
    /*#d0d0d0 inset;*/
}

.field-input ion-input {
    width: 62px;
    height: 64px;
    background-color: white;
    border-radius: 10px;
    /*box-shadow: 5px 5px 0px 5px rgba(233, 233, 233, 0.8) inset;*/
    border: 1px solid #FFFFFF;
}

ion-button {
    text-align: center;
    --border-radius: 25px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 70%;
    transform: translateY(50%);
    color: #575F6B;
    width: 194px;
}

ion-icon {
    color: gray;
    height: 25px;
    width: 25px;
    margin: 15px;
}

ion-button a {
    text-decoration: none;
    color: #575F6B;
}