<ion-content>

    <ion-item>
        <p>Verify account</p>
    </ion-item>

    <div class="container">

        <div class="section-form">

            <a routerLink="/securitydetails">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>

            <div class="img-profile" alt="profile-imgk">
                <img src="../../assets/images/profilepic.png" alt="profilepicture">
            </div>

        </div>
        <p class=" msg ">Enter the OPT code<br>sent to your email address</p>
        <!-- 
        <ion-item>
            <div class="profilepic ">
                <div class="img-profile "></div>
            </div>
        </ion-item>-->

        <div class="field-input ">
            <ion-item>
                <ion-input></ion-input>
            </ion-item>

            <ion-item>
                <ion-input></ion-input>
            </ion-item>

            <ion-item>
                <ion-input></ion-input>
            </ion-item>

            <ion-item>
                <ion-input></ion-input>
            </ion-item>
        </div>

        <ion-button color="light ">
            <a routerLink="/productspage">NEXT</a>
        </ion-button>

    </div>

</ion-content>