<ion-content>
    <ion-item>
        <p>Register</p>
    </ion-item>
    <form>
        <div class="section-form">

            <a routerLink="/physicaladdress">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
            <p>Company Details</p>
        </div>

        <ion-item>
            <ion-input type="text" placeholder="Registration Number">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="text" placeholder="Tax Number ">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="number" placeholder="Contact Number ">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-input placeholder="Email Address ">
            </ion-input>
        </ion-item>

        <ion-button color="light ">
            <a href="/companyaddress"> NEXT</a>
        </ion-button>
    </form>
</ion-content>