<ion-header>
    <ion-toolbar class="header-cont">
        <div class="cont ">
            <a routerLink="/addproducts">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
            <p>Profile</p>
            <img src="../../assets/images/logo.png ">
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.<br>
            <P>Duration:</P>
            <p>Price:</p>
            <ion-button color="light"><a routerLink="#">BOOK NOW</a></ion-button>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.<br>
            <P>Duration:</P>
            <p>Price:</p>
            <ion-button color="light"><a routerLink="#">BOOK NOW</a></ion-button>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.<br>
            <P>Duration:</P>
            <p>Price:</p>
            <ion-button color="light"><a routerLink="#">BOOK NOW</a></ion-button>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.<br>
            <P>Duration:</P>
            <p>Price:</p>
            <ion-button color="light"><a routerLink="#">BOOK NOW</a></ion-button>
        </ion-card-content>
    </ion-card>

</ion-content>

<ion-footer>
    <ion-toolbar class="ftr">
        <div class="image-ftr">
            <div class="image">
                <a routerLink="/productspage"> <img src="../../assets/images/Group 114.png"> </a>

            </div>
            <div class="image">
                <a routerLink="/clientprofile"> <img src="../../assets/images/Group 113@2x.png"> </a>
            </div>
            <div class="image">
                <a routerLink="/trainingpage"> <img src="../../assets/images/Group 112@2x.png"> </a>
            </div>
            <div class="image">
                <a routerLink="/deliveriespage"> <img src="../../assets/images/Group 111@2x.png"> </a>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>