<ion-header>
    <ion-toolbar>
        <div class="flex-box">
            <ion-item>

                <a routerLink="/landingpage">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </a>
                <img src="../../assets/images/ArtboardLogo.png">
            </ion-item>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form>

        <ion-item class="input">
            <ion-card>
                <ion-input type=" text " placeholder=" Email Address ">
                </ion-input>
            </ion-card>
        </ion-item>

        <ion-item class="input">
            <ion-card>
                <ion-input class="input" type="Password " placeholder="Password "></ion-input>
            </ion-card>
        </ion-item>
        <ion-button color="light "><a href="productspage "> LOG IN</a></ion-button>
    </form>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-item class="footer-cont">
            <p>Saved one minute ago</p>
        </ion-item>
    </ion-toolbar>
</ion-footer>