<ion-header>
    <ion-toolbar>
        <div class="header">
            <div>
                <ion-icon name="chevron-back"></ion-icon>
            </div>
            <div>
                <ion-title>
                    funds
                </ion-title>
            </div>
            <div>
                <ion-icon size="large" name="wallet"></ion-icon>
            </div>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item lines="none" class="availableF">
        <ion-label>
            <ion-text>
                <p>available funds:</p>
                <h3>r 12548.95</h3>
            </ion-text>
        </ion-label>
    </ion-item>

    <ion-item lines="none">
        <div class="inAndOut">
            <div>
                <h1 (click)="toFundsIn()">incoming</h1>
            </div>
            <div>
                <h1>outgoing</h1>
            </div>
        </div>
    </ion-item>
    <ion-item lines="none" class="history">
        <ion-label>
            <ion-text>
                <h4>transactions history</h4>
            </ion-text>
        </ion-label>
    </ion-item>

    <ion-item class="listOfAmounts">
        <div class="amounts">
            <div>
                <p>29 jun 21</p>
            </div>
            <div>
                <p>sale # 2569</p>
            </div>
            <div>
                <p>r 896.95
                    <ion-icon name="arrow-down-outline"></ion-icon>
                </p>
            </div>
        </div>
    </ion-item>
    <ion-item class="listOfAmounts">
        <div class="amounts">
            <div>
                <p>29 jun 21</p>
            </div>
            <div>
                <p>sale # 2569</p>
            </div>
            <div>
                <p>r 896.95
                    <ion-icon name="arrow-down-outline"></ion-icon>
                </p>
            </div>
        </div>
    </ion-item>
    <ion-item class="listOfAmounts">
        <div class="amounts">
            <div>
                <p>29 jun 21</p>
            </div>
            <div>
                <p>sale # 2569</p>
            </div>
            <div>
                <p>r 896.95
                    <ion-icon name="arrow-down-outline"></ion-icon>
                </p>
            </div>
        </div>
    </ion-item>
    <ion-item class="listOfAmounts">
        <div class="amounts">
            <div>
                <p>29 jun 21</p>
            </div>
            <div>
                <p>sale # 2569</p>
            </div>
            <div>
                <p>r 896.95
                    <ion-icon name="arrow-down-outline"></ion-icon>
                </p>
            </div>
        </div>
    </ion-item>
    <ion-item class="listOfAmounts">
        <div class="amounts">
            <div>
                <p>29 jun 21</p>
            </div>
            <div>
                <p>sale # 2569</p>
            </div>
            <div>
                <p>r 896.95
                    <ion-icon name="arrow-down-outline"></ion-icon>
                </p>
            </div>
        </div>
    </ion-item>
    <ion-item class="listOfAmounts">
        <div class="amounts">
            <div>
                <p>29 jun 21</p>
            </div>
            <div>
                <p>sale # 2569</p>
            </div>
            <div>
                <p>r 896.95
                    <ion-icon name="arrow-down-outline"></ion-icon>
                </p>
            </div>
        </div>
    </ion-item>
    <ion-item class="listOfAmounts">
        <div class="amounts">
            <div>
                <p>29 jun 21</p>
            </div>
            <div>
                <p>sale # 2569</p>
            </div>
            <div>
                <p>r 896.95
                    <ion-icon name="arrow-down-outline"></ion-icon>
                </p>
            </div>
        </div>
    </ion-item>
    <ion-item class="listOfAmounts">
        <div class="amounts">
            <div>
                <p>29 jun 21</p>
            </div>
            <div>
                <p>sale # 2569</p>
            </div>
            <div>
                <p>r 896.95
                    <ion-icon name="arrow-down-outline"></ion-icon>
                </p>
            </div>
        </div>
    </ion-item>
    <ion-item class="listOfAmounts">
        <div class="amounts">
            <div>
                <p>29 jun 21</p>
            </div>
            <div>
                <p>sale # 2569</p>
            </div>
            <div>
                <p>r 896.95
                    <ion-icon name="arrow-down-outline"></ion-icon>
                </p>
            </div>
        </div>
    </ion-item>
    <ion-item class="listOfAmounts">
        <div class="amounts">
            <div>
                <p>29 jun 21</p>
            </div>
            <div>
                <p>sale # 2569</p>
            </div>
            <div>
                <p>r 896.95
                    <ion-icon name="arrow-down-outline"></ion-icon>
                </p>
            </div>
        </div>
    </ion-item>
    <ion-item class="listOfAmounts">
        <div class="amounts">
            <div>
                <p>29 jun 21</p>
            </div>
            <div>
                <p>sale # 2569</p>
            </div>
            <div>
                <p>r 896.95
                    <ion-icon name="arrow-down-outline"></ion-icon>
                </p>
            </div>
        </div>
    </ion-item>
    <ion-item class="listOfAmounts">
        <div class="amounts">
            <div>
                <p>29 jun 21</p>
            </div>
            <div>
                <p>sale # 2569</p>
            </div>
            <div>
                <p>r 896.95
                    <ion-icon name="arrow-down-outline"></ion-icon>
                </p>
            </div>
        </div>
    </ion-item>
    <ion-item class="listOfAmounts">
        <div class="amounts">
            <div>
                <p>29 jun 21</p>
            </div>
            <div>
                <p>sale # 2569</p>
            </div>
            <div>
                <p>r 896.95
                    <ion-icon name="arrow-down-outline"></ion-icon>
                </p>
            </div>
        </div>
    </ion-item>
    <ion-item class="listOfAmounts">
        <div class="amounts">
            <div>
                <p>29 jun 21</p>
            </div>
            <div>
                <p>sale # 2569</p>
            </div>
            <div>
                <p>r 896.95
                    <ion-icon name="arrow-down-outline"></ion-icon>
                </p>
            </div>
        </div>
    </ion-item>
    <ion-item class="listOfAmounts">
        <div class="amounts">
            <div>
                <p>29 jun 21</p>
            </div>
            <div>
                <p>sale # 2569</p>
            </div>
            <div>
                <p>r 896.95
                    <ion-icon name="arrow-down-outline"></ion-icon>
                </p>
            </div>
        </div>
    </ion-item>

</ion-content>

<ion-footer>
    <ion-toolbar class="ftr">
        <div class="image-ftr">
            <div class="image">
                <a routerLink="/productspage"> <img src="../../assets/images/Group 114.png"> </a>

            </div>
            <div class="image">
                <a routerLink="/clientprofile"> <img src="../../assets/images/Group 113@2x.png"> </a>
            </div>
            <div class="image">
                <a routerLink="/trainingpage"> <img src="../../assets/images/Group 112@2x.png"> </a>
            </div>
            <div class="image">
                <a routerLink="/deliveriespage"> <img src="../../assets/images/Group 111@2x.png"> </a>
            </div>
        </div>
    </ion-toolbar>

</ion-footer>