<ion-content>

    <ion-item>
        <p>Register</p>
    </ion-item>

    <form>
        <div class="section-form">

            <a routerLink="/bankingdetails">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
            <p>Security Details</p>
        </div>
        <ion-item>
            <ion-input type="text" placeholder="Create Password">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="text" placeholder="Confirm Password">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="number" placeholder="Upload ID card/book Photo">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-input placeholder="Upload CK Documents">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-input placeholder="Upload Farm Photo">
            </ion-input>
        </ion-item>

        <ion-button color="light ">
            <a href="/verifyaccount">VERIFY ACCOUNT</a>
        </ion-button>
    </form>
</ion-content>