<ion-header>
    <ion-toolbar class="header-cont">
        <div class="cont ">
            <a routerLink="/productspage ">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
            <p>Add Products</p>
            <img src="../../assets/images/logo.png ">
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="card-content">
        <ion-card class="prod-field">
            <ion-card-content>
                <ion-input type="text" placeholder="Price"></ion-input>
            </ion-card-content>
        </ion-card>

        <ion-card class="prod-field">
            <ion-card-content>
                <ion-input type="text" placeholder="Quality"></ion-input>
            </ion-card-content>
        </ion-card>

        <ion-card class="prod">
            <p>This is where your product appear</p>
        </ion-card>
    </div>
    <ion-card class="prod-details">
        <ion-input type="text" placeholder="Product Name"></ion-input>
    </ion-card>

    <ion-card class="prod-details">
        <ion-input type="text" placeholder="Crate, Units or Tonnes"></ion-input>
    </ion-card>

    <ion-card class="prod-descrip">
        <ion-input type="text" placeholder="Description"></ion-input>
    </ion-card>

    <ion-button color="light ">
        <a href="/additionalproducts">SUBMIT LISTING</a>
    </ion-button>

</ion-content>

<ion-footer>
    <ion-toolbar class="ftr">
        <div class="image-ftr">
            <div class="image"> <img src="../../assets/images/Group 114.png"> </div>
            <div class="image"> <img src="../../assets/images/Group 113@2x.png"> </div>
            <div class="image"> <img src="../../assets/images/Group 112@2x.png"> </div>
            <div class="image"> <img src="../../assets/images/Group 111@2x.png"> </div>
        </div>
    </ion-toolbar>
</ion-footer>