ion-header {
    width: 100%;
    display: inline-block;
    --ion-background-color: #EFF9F3;
}

ion-toolbar.header-cont {
    width: 100%;
    --ion-toolbar-background-color: #EFF9F3;
}

ion-icon {
    color: gray;
    height: 35px;
    width: 35px;
    margin-left: -10px;
}

.cont {
    padding: 0;
    margin-top: 8px;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

.cont a {
    margin-right: 45px;
}

.cont img {
    width: 33.77px;
    height: 37.81px;
    margin-left: 110px;
}


/*.cont ion-icon {
    margin-left: -3px;
prod-w144,h132,x20,y218
smlinput-w174,h54,x182,y128
biginput,w337,h54,x18,y360
desc-w337,h170,x18,y434
but-w194,h33,x91,h647
}*/

ion-content {
    width: 100%;
    padding: 40px;
}

div.card-content {
    margin-top: 16px;
    padding-left: 14px;
}

ion-card.prod {
    width: 144px;
    height: 132px;
    padding: 6px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 4px 5px 5px 5px rgba(233, 233, 233, 0.6) inset;
    float: left;
    margin-top: -138px;
}

ion-card.prod p {
    text-align: center;
    margin: 5px;
}

ion-card.prod-field {
    width: 170px;
    height: 44px;
    border-radius: 25px;
    position: relative;
    left: 155px;
    top: 10px;
    padding-left: 10px;
    box-shadow: 5px 5px 5px rgba(233, 233, 233) inset;
}

.prod-field ion-input {
    margin-bottom: 6px;
    margin-left: 10px;
}

ion-card.prod-details {
    border-radius: 25px;
    margin: 15px;
    padding: 8px;
    width: 337px;
    height: 48px;
    box-shadow: 5px 5px 5px rgba(233, 233, 233) inset;
}

ion-input.prod-details {
    width: 100%;
    padding-bottom: 8px;
}

ion-card.prod-descrip {
    width: 337px;
    height: 170px;
    border-radius: 25px;
    margin: 15px;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px rgba(233, 233, 233, 0.8) inset;
}

ion-button {
    align-items: center;
    --border-radius: 25px;
    margin-top: 20px;
    margin-left: 80px;
    color: black;
    width: 194px;
}

ion-button a {
    text-align: center;
    text-decoration: none;
    color: #575F6B;
}

ion-footer {
    width: 100%;
    height: 118px;
    --ion-background-color: #EFF9F3;
}

ion-toolbar.ftr {
    --ion-background-color: #EFF9F3;
    width: 100%;
    position: fixed;
    bottom: 0;
    ;
}

ion-toolbar.ftr img {
    width: 50px;
}

div.image-ftr {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 10px;
    align-items: center;
}

div.image-ftr .image {
    justify-content: center;
}