<ion-header>
    <ion-toolbar>
        <div class="header">
            <div>
                <ion-icon name="chevron-back"></ion-icon>
            </div>
            <div>
                <ion-title>
                    deliveries
                </ion-title>
            </div>
            <div>
                <img src="../../assets/images/logo.png ">
                <!--<ion-icon size="large" name="square"></ion-icon>-->
            </div>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="deliveryContainer">

        <div class="deliveryDiv">
            <h3>completed</h3>

            <div class="wrapper">
                <div>
                    <h4>delivery</h4>
                    <ul>
                        <li>product:</li>
                        <li>Quality:</li>
                        <li>unit measure:</li>
                        <li>value:</li>
                    </ul>
                </div>
                <div>
                    <h4>21 june 2021</h4>
                    <ul>
                        <li>apples</li>
                        <li>35</li>
                        <li>crates</li>
                        <li>r839.95</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pen deliveryDiv">
            <h3>pending</h3>
            <div class="wrapper">
                <div>
                    <h4>delivery</h4>
                    <ul>
                        <li>product:</li>
                        <li>Quality:</li>
                        <li>unit measure:</li>
                        <li>value:</li>
                    </ul>
                </div>
                <div>
                    <h4>14 june 2021</h4>
                    <ul>
                        <li>pineapples</li>
                        <li>120</li>
                        <li>each</li>
                        <li>r521.95</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="can deliveryDiv">
            <h3>cancelled</h3>
            <div class="wrapper">
                <div>
                    <h4>delivery</h4>
                    <ul>
                        <li>product:</li>
                        <li>Quality:</li>
                        <li>unit measure:</li>
                        <li>value:</li>
                    </ul>
                </div>
                <div>
                    <h4>13 june 2021</h4>
                    <ul>
                        <li>kiwis</li>
                        <li>4</li>
                        <li>crates</li>
                        <li>r450.00</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="deliveryDiv">
            <h3>cancelled</h3>
            <div class="wrapper">
                <div>
                    <h4>delivery</h4>
                    <ul>
                        <li>product:</li>
                        <li>Quality:</li>
                        <li>unit measure:</li>
                        <li>value:</li>
                    </ul>
                </div>
                <div>
                    <h4>13 june 2021</h4>
                    <ul>
                        <li>kiwis</li>
                        <li>4</li>
                        <li>crates</li>
                        <li>r450.00</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</ion-content>
<ion-footer>
    <ion-toolbar class="ftr">
        <div class="image-ftr">
            <div class="image">
                <a routerLink="/productspage"> <img src="../../assets/images/Group 114.png"> </a>

            </div>
            <div class="image">
                <a routerLink="/clientprofile"> <img src="../../assets/images/Group 113@2x.png"> </a>
            </div>
            <div class="image">
                <a routerLink="/trainingpage"> <img src="../../assets/images/Group 112@2x.png"> </a>
            </div>
            <div class="image">
                <a routerLink="/deliveriespage"> <img src="../../assets/images/Group 111@2x.png"> </a>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>