<ion-content>
    <ion-item>
        <p>Register</p>
    </ion-item>

    <form>
        <div class="section-form">

            <a routerLink="/companyaddress">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
            <p>Banking Details</p>
        </div>

        <ion-item>
            <ion-input type="text" placeholder="Bank Name">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="text" placeholder="Account Type ">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="number" placeholder="Account Holder Name">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-input placeholder="Branch Code">
            </ion-input>
        </ion-item>

        <ion-button color="light ">
            <a href="/securitydetails"> NEXT</a>
        </ion-button>

    </form>
</ion-content>