<ion-header>
    <ion-toolbar class="header-cont">
        <p>Register</p>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form>
        <div class="section-form">

            <a routerLink="/personaldetails">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
            <p>Physical Address Details</p>
        </div>

        <ion-card>
            <ion-input type="text" placeholder="Street Name & Number">
            </ion-input>
        </ion-card>

        <ion-card>
            <ion-input type="text" placeholder="Suburb ">
            </ion-input>
        </ion-card>

        <ion-card>
            <ion-input type="number" placeholder="City ">
            </ion-input>
        </ion-card>

        <ion-card>
            <ion-input placeholder="Province ">
            </ion-input>
        </ion-card>

        <ion-card>
            <ion-input placeholder="Postal Code ">
            </ion-input>
        </ion-card>

        <p class="opt">
            <ion-checkbox color="primary"> </ion-checkbox>
            Postal and physical address is essential
        </p>
        <ion-button color="light ">
            <a href="/companydetails"> NEXT</a>
        </ion-button>
    </form>
</ion-content>

<ion-footer>
    <ion-toolbar class="ftr">
        <p>Saved minutes ago</p>
    </ion-toolbar>
</ion-footer>